<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>INFINITY - EVENT MANAGEMENT SYSTEM </title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../libs/css/style0.css">
</head>

<body>
    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Top Header Area Start -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-5">
                        <div class="top-header-content">
                            <p>Welcome to Infinity Event Management System!</p>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="top-header-content text-right">
                            <p><span class="mx-2"></span> <i class="fa fa-phone" aria-hidden="true"></i> Call us: (+12)-345-6789</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header Area End -->
    </header>

    <h1><center><img src="..\assets\infinity.jpg" style="width:100px;height:100px;"">Infinity Event Management System
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="justify-content: center; padding: 0px; background-color: #808080; color:white;"></center></h1>

    <!-- Welcome Area Start -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide bg-img" style="background-image: url(../assets/home.jpg);">
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-9 col-lg-6">
                                <div class="welcome-text">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">Write Your <br> Cute Words</h2>
                                    <p data-animation="fadeInUp" data-delay="400ms">“You don’t start out writing good stuff. You start out writing crap and thinking it’s good stuff, and then gradually you get better at it. Be persistence.”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide bg-img" style="background-image: url(../assets/home.jpg);">
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-9 col-lg-6">
                                <section class="signup">
									<!-- <img src="images/signup-bg.jpg" alt=""> -->
									<div class="container">
										<div class="signup-content">
											<form  id="signup-form" class="signup-form">
												<h2 class="form-title" >WELCOME TO INFINITY EMS</h2>
											 
											  <div class="form-group">
                                                <hr>
												<h3>Register as :</h3>
												<a href="../view/ManageSupplier/sregistration_interface.php"> <button  class="form-submit" type="button" >Supplier</button></a>
												<br><br>
												<a href="../view/ManageSupplier/eoregistration_interface.php"> <button  class="form-submit" type="button" >Event Organizer</button></a>
												<br><br>
												<a href="../view/ManageSupplier/cregistration_interface.php"> <button  class="form-submit" type="button" >Customer</button></a>
                                                </div>
											</form>
										 
										</div>
									</div>
								</section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Footer Area Start -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single-footer-widget mb-80">
                        <!-- Footer Logo -->
                        <center><img src="..\assets\infinity.jpg" style="width:100px;height:100px;""></center>

                        <p class="mb-30">We would love to serve you and let you enjoy your culinary experience. Excepteur sint occaecat cupidatat non proident.</p>

                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p> <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>All rights reserved</i></p>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Opening times</h4>

                        <!-- Open Times -->
                        <div class="open-time">
                            <p>Monday: Friday: 10.00 - 23.00</p>
                            <p>Saturday: 10.00 - 19.00</p>
                        </div>

                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-md-4 col-xl-3">
                    <div class="single-footer-widget mb-80">

                        <!-- Widget Title -->
                        <h4 class="widget-title">Contact Us</h4>

                        <!-- Contact Address -->
                        <div class="contact-address">
                            <p>Tel: (+12)-345-6789</p>
                            <p>E-mail: Hello.colorlib@gmail.com</p>
                            <p>Address: Iris Watson, P.O. Box 283 8562 Fusce Rd, NY</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- All JS Files -->
    <!-- jQuery -->
    <script src="../libs/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="../libs/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="../libs/js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="../libs/js/akame.bundle.js"></script>
    <!-- Active -->
    <script src="../libs/js/default-assets/active.js"></script>
	<script type="text/javascript" src="../libs/js/payment.js"></script>
	
	</body>

</html>